#ignoring all files and folders in the current root
*

# allow Git to look inside these folder
!*/
!/.gitignore
!/.README.md
!/Scripts/**
!/Resources/**
!/Docs/**

# ignore private keys.
PrivateData.cs
